[2020-11-03 01:13] jamesedmonston opened #1 "Improve documentation"
Documentation needs fleshing out with richer examples and walkthroughs (maybe a screen recording running through query/mutation examples).

[2020-11-03 10:01] jamesedmonston opened #2 "Last login not updating on users"
Currently the `register` and `authenticate` mutations aren't updating the 'last login' field on users, so they'll be blank unless they log in to the control panel directly.

[2020-11-03 12:37] timkelty opened #3 "Support JWT / Refresh tokens"
_Side note: This looks great! I was just about to start a project where I would have had to do nearly the same thing. Thanks!_

Did you/have you considered using JWT at all?

As I understand it, the downside of doing things how you are is the client is forced to store the access token, likely insecurely (eg localstorage). So you're left with either long expiry (less secure, hard to invalidate) or

[2020-11-03 14:35] jamesedmonston commented on #3
@timkelty Thanks for the link! I'll have a read through that article this evening 👍🏻

I could potentially look into adding some settings to let you decide how the tokens are handled:

1.  Returned in response (as it is currently)
2.  Sent as a secure `SameSite` cookie – browser support seems pretty good for this now: https://caniuse.com/same-site-cookie-attribute
3.  Proper JWT tokens

[2020-11-03 16:03] timkelty commented on #3
`SameSite` cookies are referenced in that article – but also setting it in an `httpOnly` cookie is a good start.
I think an "easy" addition, short of JWT, would be to return the token in an `httpOnly` (and/or `SameSite`).

Let me know what you think!

[2020-11-03 16:13] jamesedmonston commented on #3
@timkelty yeah that sounds like a great 'quick win'! I'll see if I can get around to adding that in this evening, then explore JWT possibilities over the coming days.

Thanks!

[2020-11-03 16:44] timkelty commented on #3
hooray! happy to help with JWT/refresh if/when you tackle that.

[2020-11-03 18:54] jamesedmonston commented on #2
Fixed in https://github.com/jamesedmonston/graphql-authentication/commit/8d51c41cbe7caaa6e9a3bed85ba0146581595fe7

[2020-11-03 23:22] jamesedmonston commented on #3
@timkelty https://github.com/jamesedmonston/graphql-authentication/commit/98437b77845506eb92ed5965ccbf8390e333fab6 👀

Going to run through some testing before pushing a release.

[2020-11-03 23:36] jamesedmonston commented on #3
@timkelty I've slightly altered the logic: https://github.com/jamesedmonston/graphql-authentication/commit/b8e0bed195afd7cb799198b7d6ee9582505b096a

I originally omitted the tokens from the `register`/`authenticate` mutation responses if the cookie setting is enabled, but realised that they'll still be useful for putting into iOS/Android Keychain for use in native apps.

[2020-11-04 01:32] jamesedmonston commented on #3
@timkelty https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.1.0

[2020-11-04 12:08] timkelty commented on #3
Wow, what service!

Thanks a ton @jamesedmonston!

For my immediate use, I think I may _have_ to use JWT, for other reasons.
Before I dig into the codebase, do you think modifying this plugin (adding JWT) makes sense, or do you think that would be best as a separate module/plugin?

[2020-11-05 17:50] jamesedmonston commented on #3
@timkelty Yeah, I definitely think it's within the scope of the plugin to add it. Seems a shame to miss an opportunity for additional use-cases. I see it as (hopefully) ending up with various authentication methods, including social sign-in etc, too.

[2020-11-06 12:08] timkelty commented on #3
@jamesedmonston awesome. I'm probably going to work on JWT integration this weekend. If you can point me to points in the codebase (only glanced through it so far) you think are the right places for implementing this, that might help.

Feel free to hit me up on the Craft Discord (timkelty) or email if you want to discuss.

[2020-11-06 16:21] jamesedmonston opened #4 "`updatePassword` mutation erroring"
Looks as though the following lines aren't validating for some reason:

https://github.com/jamesedmonston/graphql-authentication/blob/master/src/GraphqlAuthentication.php#L420-L423

[2020-11-06 18:58] jamesedmonston commented on #3
@timkelty Really appreciate that! I can generate a couple licence keys for you if you'd like (or Beerpay/similar)?

Had a read through that article you sent over – interesting stuff! It mentions only returning the refresh token as an `HTTP-Only` cookie; do you think it'd be worth adding a setting that also returns it in the mutation response, for use in environments where cookies aren't available

[2020-11-07 15:04] sunscreem opened #5 "A usage question"
Really glad to have spotted this plug in. I'm wondering if you think it will help in my use case.

I've two seperate domains/craft installs but the client is looking for the user auth to be shared between them both.

I'd considered using Laravel on one of the sites to "talk" to craft, maybe via graphql, to get this working.

Any thoughts on if I'm barking up the wrong tree here?

[2020-11-08 00:39] timkelty commented on #3
That seems reasonable. I also think maybe just putting events in the right place with some examples of how to override things might be good too, since everyone's implementation could be different.

Hmm…I wonder what that would give us vs using lcobucci/jwt directly. Will have to look.

I was planning on using Craft's Tokens (https://docs.craftcms.com/api/v3/craft-services-tokens.html#public-method

[2020-11-08 00:45] jamesedmonston commented on #3
Yeah that's a good idea, the docs definitely need fleshing out and making a little easier to understand, generally (will sort soon).

Oo, neat. Yeah that sounds great 👍🏻

[2020-11-09 18:51] daltonrooney commented on #5
@sunscreem Have you considered using oAuth? You could implement https://github.com/thephpleague/oauth2-serve on the main site, and then https://github.com/thephpleague/oauth2-client on the secondary site. In that case, when clients log into site 2, they would be authenticated against site 1.

Both of these libraries integrate well into Yii2, so you could keep development as a Craft module rather t

[2020-11-09 18:54] daltonrooney opened #6 "Support for Google Sign-In"
I saw this mentioned in https://github.com/jamesedmonston/graphql-authentication/issues/3 and wanted to call it out as a potential feature since it's something I could use in a current project. Hopefully this can get on the roadmap and maybe I can even sponsor the feature as @timkelty is helping us with the JWT integration as well.

[2020-11-09 19:12] jamesedmonston commented on #6
@daltonrooney yep, definitely something I'm keen on getting added. It's something that I'll likely need on some work project – both upcoming and existing.

I'll try and spend some time looking into it this week 👍🏻

[2020-11-09 19:15] jamesedmonston opened #7 "Calling unknown method: craft\console\Request::getBodyParam()"
Once the plugin has been installed, subsequent project config syncs are throwing `Calling unknown method: craft\console\Request::getBodyParam()`.

Need to check for `Craft::$app->getRequest()->isConsoleRequest` and not run the mutation restrictions.

[2020-11-09 19:19] jamesedmonston commented on #5
@daltonrooney thanks a lot for jumping in on this one!

@sunscreem I think what you're looking for is a little out of scope for this plugin unfortunately! @daltonrooney's suggestion seems like it'd put you on the right track 👍🏻

[2020-11-09 19:19] #5 closed

[2020-11-10 12:45] jamesedmonston commented on #7
Fixed in https://github.com/jamesedmonston/graphql-authentication/commit/3ce24fc9ddce6b0caad8b41d0ccac404de11c337

[2020-11-10 12:49] jamesedmonston commented on #7
Released [1.1.5](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.1.5) with this fix

[2020-11-10 12:49] #7 closed

[2020-11-11 00:58] jamesedmonston commented on #4
Fixed in https://github.com/jamesedmonston/graphql-authentication/commit/52181e8c652de054f10455d410e88297a991edde

[2020-11-11 00:58] #4 closed

[2020-11-11 15:50] jamesedmonston opened #8 "Support different schemas per user group"
It would be nice to have the ability to assign schemas per user group. When authenticating, tokens would be assigned to the respective schema.

- [x] Add settings to choose which schema user groups get assigned to
- [x] Add settings to enable/disable per-user group registration mutations
- [x] Assign tokens to schemas based on user group
- [x] Add separate `register` mutations per user group

[2020-11-11 15:52] jamesedmonston opened #9 "Add setting for toggling automatic account activation"
Currently, users created through the `register` mutation are automatically activated – with no activation email sent out.

We should add a setting to tweak this behaviour, so users require account activation.

- [x]  Listen to `requireEmailVerification`
- [x] Send activation email
- [x] Create user as disabled

[2020-11-11 16:15] sunscreem commented on #5
Thanks both. That advice helped and its over to the client now :)

[2020-11-11 21:56] jamesedmonston commented on #6
@daltonrooney which services would you like to see integrated?

I'm thinking first round could be:

- Google
- Facebook
- Twitter
- GitHub
- Apple

[2020-11-11 21:59] jamesedmonston commented on #6
@daltonrooney I've just created a project in which I'll track the progress: https://github.com/jamesedmonston/graphql-authentication/projects/1

[2020-11-11 23:30] daltonrooney commented on #6
That's so awesome that you're already making progress on this. 👍

Google would be my top choice - we're working with a school on a Craft build right now, and they use Google as their email provider. One of the things that would be important to them is to limit logins to a particular domain. Before this project went headless, we were considering the Social plugin, [which includes that capability](h

[2020-11-13 08:23] ipatate opened #10 "Error on install"
When i try to install the plugin directly from the store, i have this error :

[code]

Craft version : Craft Pro 3.5.15.1

![Capture d’écran 2020-11-13 à 09 20 34](https://user-images.githubusercontent.com/46760/99045531-c9240a00-2591-11eb-8b80-39b0cecbf711.png)

[2020-11-13 08:52] jamesedmonston commented on #10
@ipatate thanks for reporting this. Looking into it now.

[2020-11-13 08:59] jamesedmonston commented on #10
@ipatate hmm, I can't seem to replicate this issue. Do you have any custom modules running that could have a syntax error in them?

Would you be able to paste in your `phperrors.log` file from `/storage/logs/`, please?

[2020-11-13 09:13] ipatate commented on #10
No module and just 2 plugins (redactor and webhook)
Sorry, i don't  have file ```phperrors.log``` in ```/storage/logs/```.
But i have more info for this error :
[code]
I don't see the problem in this line !

[2020-11-13 09:34] jamesedmonston commented on #10
@ipatate are you running a PHP version earlier than 7.3? Looks like it could be to do with the trailing commas. I'll push a release that removes those

[2020-11-13 09:36] ipatate commented on #10
yes it's PHP 7.2

[2020-11-13 09:48] jamesedmonston commented on #10
@ipatate I've just released [`1.1.7`](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.1.7) which should (hopefully) resolve this for you

[2020-11-13 09:48] #10 closed

[2020-11-13 09:52] ipatate commented on #10
it's work now, thank you 🥇

[2020-11-14 17:05] ipatate opened #11 "Error on save for the plugin options when we select "never" for expiration option"
Sorry James. I found an error when i save the configuration plugin. If i use "Never" for expiration, i can't save without error.

[2020-11-14 17:06] jamesedmonston commented on #11
@ipatate On it – thanks for reporting

[2020-11-14 17:15] jamesedmonston commented on #11
@ipatate I've just released [`1.18`](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.1.8) which fixes this

[2020-11-14 17:15] #11 closed

[2020-11-14 21:49] jamesedmonston commented on #9
Fixed in https://github.com/jamesedmonston/graphql-authentication/commit/1d8c51db01b2c31cee4a7dbbd6bc5efc4bdf67cc

[2020-11-14 21:49] #9 closed

[2020-11-20 13:10] BOAWEB opened #12 "When installing this plugin, GraphiQL won't let us load entries"
After installing the plugin, we get an issue with our public scheme.
When querying for entries, we get the following error:
![image](https://user-images.githubusercontent.com/1536173/99803637-19730d00-2b3a-11eb-89d9-44e664059daa.png)

What could be the problem?

[2020-11-20 14:48] jamesedmonston commented on #12
@BOAWEB I'll look into getting a fix out for this over the weekend.

In the interim you can get around it by:
- Creating a separate schema with the same permissions as your public one
- Create a token that's assigned to the new schema
- Use the token to authorise the calls (`Authorization: Bearer ${token}`)

Thanks!

[2020-11-20 15:02] jamesedmonston commented on #12
@BOAWEB Follow up question, are you using GraphiQL through the Craft admin? It _should_ be allowing queries from that URL even without an authorization header. Is your GraphiQL hosted at `/graphiql`?

[2020-11-20 15:05] BOAWEB commented on #12
Yes, we are using GraphiQL through the Craft admin and it is hosted at `/admin/graphiql`

[2020-11-24 11:33] jamesedmonston opened #13 "Support for custom response/error messages"
Currently, all of the messages are set in PHP constants, it would be nice for users to be able to define these in the plugin settings.

[2020-11-24 11:50] jamesedmonston commented on #6
@daltonrooney Making some progress on the Google Sign-In stuff!

<img width="1792" alt="Screenshot 2020-11-24 at 11 50 39" src="https://user-images.githubusercontent.com/4851924/100090588-4893c200-2e4b-11eb-8154-d22a230d2373.png">

[2020-11-24 12:10] jamesedmonston commented on #6
@daltonrooney I've updated the title for this issue to relate specifically to Google Sign-In. I will create separate cards for the separate services, so they can each be assigned to different projects as I work through them.

[2020-11-24 12:10] jamesedmonston opened #14 "Support for Sign in with Apple"

[2020-11-24 12:11] jamesedmonston opened #15 "Support for Facebook Login"

[2020-11-24 12:11] jamesedmonston opened #16 "Support for Log in with Twitter"

[2020-11-24 12:18] jamesedmonston opened #17 "Split features into separate services"

[2020-11-24 12:18] jamesedmonston opened #18 "Split settings into tabs"

[2020-11-24 15:11] jamesedmonston commented on #17
Sorted in https://github.com/jamesedmonston/graphql-authentication/commit/d1aca8b59ff009e1a0d3175462a2003154de4ff0

[2020-11-24 15:11] #17 closed

[2020-11-24 17:05] jamesedmonston commented on #18
Sorted in https://github.com/jamesedmonston/graphql-authentication/commit/c5a3b4f0bf13ae26abf507cfcec05204bcfad8a8

[2020-11-24 17:05] #18 closed

[2020-11-24 17:07] jamesedmonston commented on #6
@daltonrooney Sorry for yet another ping, but if you run the latest commit from the `develop` branch, you should be able to start playing around with the Google Sign-In mutation. Note: the mutation will only appear once you've filled in your Client ID in settings:

<img width="1792" alt="Screenshot 2020-11-24 at 17 06 08" src="https://user-images.githubusercontent.com/4851924/100127940-86a6db00-2e

[2020-11-25 11:55] jamesedmonston commented on #8
Added in https://github.com/jamesedmonston/graphql-authentication/commit/95be5f057e32286906e50c03b5b599c3e99af001 and https://github.com/jamesedmonston/graphql-authentication/commit/7fa656f90e40d9550a7b01b132c43cae65857d50

[2020-11-25 11:55] #8 closed

[2020-11-25 13:03] #6 closed

[2020-11-25 16:07] daltonrooney commented on #6
@jamesedmonston Is there any way to hook into the signIn mutation response? I'd like to return a list of the user's groups to help with client-side routing.

[2020-11-25 19:48] jamesedmonston commented on #6
@daltonrooney I've just added a `schema` field to the responses in `authenticate`, `register` and `googleSignIn` (along with the user group specific mutations).

Can you try updating to https://github.com/jamesedmonston/graphql-authentication/commit/d27daa8362f5848aa4a2e91c316cd462d477e35b and check if it's working okay for you?

Cheers

[2020-11-26 00:32] daltonrooney opened #19 "Adding new GraphQL schema doesn't update granularSchemas setting"
(I'm running on the develop branch @ https://github.com/jamesedmonston/graphql-authentication/commit/7109e21f1cb3b93f23f742ecbcc6c8e369e7d437)

I've got `permissionType` set to `multiple`. I created a new user group and new GraphQL schema to apply to the group. When trying to access the /admin/graphql-authentication/settings page I get a PHP exception:

[code]

It seems the `granularSchemas` setti

[2020-11-26 10:03] #19 closed

[2020-11-26 14:44] pedroandradef opened #20 "Integration with Commerce Craft"
Can I use the users created by graphql-authentication in Commerce Craft?

[2020-11-26 16:28] #20 closed

[2020-11-26 23:33] jamesedmonston commented on #12
@BOAWEB I can't seem to replicate this issue.

Did you authenticate a user from GraphiQL, with the `HTTP-Only cookie` option enabled? Would you be able to check the network request and see if you've got a token being passed in the cookies?

[2020-11-27 07:39] BOAWEB commented on #12
Hi James,
Sorry, we already decided not to go along this path.

[2020-11-27 09:28] #12 closed

[2020-11-27 10:33] jamesedmonston commented on #13
Added in https://github.com/jamesedmonston/graphql-authentication/commit/992748d2b39b81ef6205f91f86a5eadc73a767a3

[2020-11-27 10:33] #13 closed

[2020-11-27 18:04] jamesedmonston commented on #16
Added in https://github.com/jamesedmonston/graphql-authentication/commit/42ad41cb3b44729848b05f25599227292cb2fb51

[2020-11-27 18:04] #16 closed

[2020-11-28 12:19] jamesedmonston commented on #15
Added in https://github.com/jamesedmonston/graphql-authentication/commit/f95b4e6074339951819fcd86f2e0c82e8293128f

[2020-11-28 12:19] #15 closed

[2020-11-29 16:05] menberg opened #21 "[Bug] "Undefined offset" when doing mutations"
Thanks for this wonderful plugin. I'm hitting an error though when doing mutations.

The bug is located in [TokenService.php](https://github.com/jamesedmonston/graphql-authentication/blob/d6cd388bf41b5ee8c003ed21bbe4287ee5a81e0e/src/services/TokenService.php#L133) inside `_extractUserId(GqlToken $token)`.

I get `Undefined offset: 1` PHP error when running `return explode('-', $token->name)[1];`

[2020-11-29 16:33] jamesedmonston commented on #21
@menberg huh, that's strange! Thanks for reporting.

Do you have a token called `userToken` in `/admin/graphql/tokens`?

Are you using a token created through the plugin to authorise your calls, or one you created manually?

[2020-11-29 16:59] jamesedmonston commented on #21
@menberg would you be able to try the latest commit in the `develop` branch (https://github.com/jamesedmonston/graphql-authentication/commit/0ee363be19813bed279762773e04c8435a989b74) and see if the issue persists? Thanks!

[2020-11-29 19:42] menberg commented on #21
Hey James, that was quick. I just applied the latest `develop` branch and the problem seems to be successfully fixed. I'm amazed! Thanks a lot.

[2020-11-29 20:00] jamesedmonston commented on #21
@menberg okay great! Glad to hear it's fixed!

[2020-11-29 20:00] #21 closed

[2020-11-29 23:35] menberg opened #22 "Possible issue: Double-packed array found"
When running `./craft utils/repair/project-config` I get the following output:
[code]

Not sure but might be related to https://github.com/craftcms/cms/issues/5525#issuecomment-644420787 and how data is stored in the plugin settings model as described on https://craftcms.com/docs/3.x/extend/plugin-settings.html#settings-model: _any complex or nested data types that aren’t compatible with toArray()

[2020-11-30 00:16] jamesedmonston commented on #22
@menberg Interesting, thanks for spotting that – and thanks for the references! I'll have a look 👍🏻

[2020-11-30 01:34] jamesedmonston commented on #3
@timkelty @daltonrooney I've just pushed the first lot of work for the JWT integration: https://github.com/jamesedmonston/graphql-authentication/commit/3c93a4071b0de10f433c752531f7ba9c712c1370

Passing a JWT into the `Authorization` header as `Bearer` will fail as Craft is doing its own validation. You have to pass it in as `Authorization: JWT ${token}` at the moment – I'm not sure if there's anyt

[2020-11-30 14:01] timkelty commented on #3
@jamesedmonston this looks great!

I was hacking on some of the same stuff last night, but this looks more integrated into the plugin.

- As we're never going to meet everyone's needs, I definitely think we need an event to control the payload and the verification data.
- If we want to match the JWT spec, I think `userId` should be `sub`: https://tools.ietf.org/html/rfc7519#section-4.1.2
- I know

[2020-11-30 14:44] timkelty commented on #3
So, I think we'd want 2 events:

- one for `TokenService::EVENT_CREATE_JWT` that has the token builder and user as an arg, so you can add your own claims.
- one that passes the JWT config (in getHeaderToken), so you can customize the validation.

[2020-11-30 14:57] jamesedmonston commented on #3
@timkelty Appreciate your feedback!

- Good point on moving the user ID into `sub`.
- I definitely like the idea of adding events to modify the payload/verification – as you've said, we'll never get the right fields for everybody's needs otherwise.
- Updating `issuedBy` as you said makes sense to me.

I'll try and take a stab at these tweaks this evening 👍🏻

[2020-11-30 15:16] timkelty commented on #3
@jamesedmonston It doesn't look like you're setting any validation constraints explicitly…do you know if we need to explicitly set `Lcobucci\JWT\Validation\Constraint\ValidAt`, `Lcobucci\JWT\Validation\Constraint\RelatedTo`, etc. to our assertions?

[2020-11-30 15:21] jamesedmonston commented on #3
@timkelty It's currently only validating based on the secret key being the same:

https://github.com/jamesedmonston/graphql-authentication/blob/develop/src/services/TokenService.php#L145-L163

[2020-11-30 17:28] approached opened #23 "Invalid Authorization Header"
Hi @ all

I just quick install this plugin and tried to use. Now i become on every request an error with a **anonymus/guest/no barear token** user.

Response:
[code]

After i disabed this plugin. It works great again. BTW: the graphQL dashboard doesn't work too.
Has anybody a idea?

[2020-11-30 17:40] jamesedmonston commented on #23
@approached Would you be able to try running the latest commit from the `develop` branch to see if that fixes it? I've made a couple fixes in that branch that I'll be bundling into a release very soon.

[2020-12-01 00:06] jamesedmonston commented on #23
@approached I've just released [`1.2.1`](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.2.1) which resolves this.

[2020-12-01 00:12] jamesedmonston commented on #3
@timkelty I've made a few updates to this:

- Added `email`, `groups`, and `admin` to JWT payload
- Moved `userId` into `sub`
- Updated `issuedBy` to use `Craft::$app->id` (fallback to `cpUrl`, just in case!)
- Expired access & refresh tokens are now removed automatically (when created tokens)
- Refresh tokens are now consumed (deleted) when calling the `refreshToken` mutation

Didn't get time to

[2020-12-01 00:19] timkelty commented on #3
Looks great!

let me know if you need any help with that!

[2020-12-02 14:06] approached commented on #23
![Screenshot 2020-12-02 at 15 02 45](https://user-images.githubusercontent.com/3439330/100882821-e4f33f80-34af-11eb-8ead-2ddbd46e406d.png)

It is not working as aspected.

[2020-12-02 14:43] jamesedmonston commented on #23
@approached Damn! Sorry about this. I will take another look.

[2020-12-02 16:53] approached commented on #23
I have tried both. For me it's not clear for what this setting will used `Use HTTP-Only cookie`

I use as fronted nextjs. But it is not really clear how i can build a login/authentication process. JWT would be nice but no documation available.

Quick question, how i can refresh the token?
If i store the token in a local storage, does me need `Use HTTP-Only cookie` enabled?

[2020-12-05 01:32] daltonrooney opened #25 "Google Authentication error: Undefined index: family_name"
I believe my Google profile does not have the `family_name` value set, I'm getting this error when trying to use Google auth:

[code]

[2020-12-05 19:53] jamesedmonston commented on #25
@daltonrooney I've just added some fallbacks in that should hopefully resolve this: https://github.com/jamesedmonston/graphql-authentication/commit/920f5eb343c7bdeea8c3438fc6038da4555ee4c1

[2020-12-05 20:12] #25 closed

[2020-12-05 20:20] daltonrooney commented on #25
Thanks, works for me!

[2020-12-05 21:37] jamesedmonston commented on #3
@timkelty @daltonrooney I've pushed the events for modifying the JWT at creation time, and the validators used to verify it!

An example module:

[code]

[2020-12-05 21:48] jamesedmonston commented on #3
Going to pre-emptively close this as I _think_ everything has been taken care of. We can track any bugs in new issues. Cheers

[2020-12-05 21:48] #3 closed

[2020-12-05 21:58] daltonrooney opened #26 "Type Error when accessing settings"
Me again. I'm just going to keep breaking your plugin all weekend. 😀

Trying to access the settings page and I'm getting this:

[code]

Any thoughts? I did just delete a schema, which _may_ have been applied to a group. I probably should have removed it from the group first, yeah?

[2020-12-05 22:05] jamesedmonston commented on #26
@daltonrooney Just deleted a schema that was assigned to a user group and I'm getting the same error, too. Will fix!

[2020-12-05 22:08] #26 closed

[2020-12-06 02:00] timkelty commented on #3
@jamesedmonston you're killing it!

[2020-12-06 13:43] jamesedmonston commented on #1
New documentation now available: https://graphql-authentication.jamesedmonston.co.uk

[2020-12-06 13:43] #1 closed

[2020-12-06 13:48] jamesedmonston commented on #23
@approached I'm just about ready to release an update which includes proper JWT and refresh token support. If you run the latest commit in the `develop` branch you should be able to get started with this.

I've rewritten the documentation using Docusaurus which includes more examples and explanations. This can be found here: https://graphql-authentication.jamesedmonston.co.uk

[2020-12-07 11:32] jamesedmonston commented on #23
@approached I just managed to replicate this in a client project, and have pushed version `1.3.1` that _actually_ fixes the issue. Sorry for the hassle!

[2020-12-07 17:04] jamesedmonston opened #27 "Remove non-JWT token support"
Now that we have proper JWT and refresh token support, the old methods should be removed.

[2020-12-07 17:53] daltonrooney commented on #23
@jamesedmonston I'm experiencing this error on my front-end I wonder if it might be a conceptual problem on my part that could be cleared up with some documentation.

Can you confirm that _all GraphQL requests must be authenticated_ when the plugin is active? I.e. no more public schema requests or Bearer token requests that reference a schema directly?

For my front-end, I've been working with the

[2020-12-07 18:11] jamesedmonston commented on #23
@daltonrooney Damn.

This _shouldn't_ be the case, but maybe the logic is broken somewhere. The intended functionality is that any requests against the public schema are left untouched.

In the interim, you could create a schema that matches your public one, and create a token that's assigned to the new schema, then use that token to authorise your build-time calls.

If you go to https://graphiql-

[2020-12-07 19:16] daltonrooney commented on #23
@jamesedmonston Yeah I've got JWT enabled, and I'm able to successfully authenticate with a Google ID token and get a JWT token back. 👍 But I do think something weird is going on with the public query:

![public query (internal)](https://user-images.githubusercontent.com/742045/101394476-6e728b00-387d-11eb-8823-5047013be872.png)

![public query (external)](https://user-images.githubusercontent.com

[2020-12-07 21:22] daltonrooney opened #28 "No results on JWT authenticated request"
This may be related to #23 but just in case it's a separate issue I'll post it here. I'm getting no results on my authenticated requests, even though the underlying schema should have the correct access. Here's an overview of what's happening, let me know if this makes sense or if I've missed anything:

- I have a GraphQL schema called "Website" which gives access to all of the public sections of

[2020-12-08 00:07] jamesedmonston commented on #23
@daltonrooney Okay I've just worked out the issue. It was a bit of an oversight in the logic on my part. https://github.com/jamesedmonston/graphql-authentication/commit/89d2b778859bc2b937e037fcf9cdf38047b06e41 should fix it.

Sorry for the annoyance guys.

[2020-12-08 00:10] jamesedmonston commented on #28
@daltonrooney thanks for the very in-depth issue!

A couple questions:

1. Does running a simple `ping` query work?

[code]

2. If you decode the JWT on https://jwt.io, is does the `schema` value look okay?

3. Does clearing the GraphQL cache have any effect?

Once again, sorry for the inconvenience!

[2020-12-08 00:26] daltonrooney commented on #28
Sure thing, and thanks for being so helpful on these issues!

1. Yes, ping works correctly
2. Yes, the correct schema value is encoded.
3. No change.

[2020-12-08 00:28] jamesedmonston commented on #28
@daltonrooney Thanks for the quick response.

If you grab the `accessToken` value from the decoded JWT and authorise the request from GraphiQL online request like `Authorisation: Bearer ${token}` does that work correctly?

[2020-12-08 00:44] jamesedmonston commented on #28
@daltonrooney I'm able to replicate this locally – debugging now!

[2020-12-08 02:08] jamesedmonston commented on #28
@daltonrooney Okay I finally managed to get it working properly. The JWT's decoded access token wasn't being sent to the GraphQL controller properly.

Would you be able to try the latest commit from the `develop` branch, please?

[2020-12-08 04:24] daltonrooney commented on #28
Yeah, that seems to have fixed it. Thanks so much!

[2020-12-08 04:26] daltonrooney commented on #23
@jamesedmonston This seems to be working correctly now. I'm able to query the public API as well as use existing tokens with no problem. Thanks so much for the help!

[2020-12-08 10:08] #28 closed

[2020-12-08 10:08] #23 closed

[2020-12-09 12:10] approached opened #29 "Use encoded JWT payload to authorise calls"
Hi @ all

Why you generate a graphQL token? After i have logged in. There are some graphQL token available.

![Screenshot 2020-12-09 at 12 59 32](https://user-images.githubusercontent.com/3439330/101627352-89c8cc00-3a1e-11eb-8db6-b9caa61a73fd.png)

The schema is already saved in the jwt token:
<img width="1243" alt="Screenshot 2020-12-09 at 13 02 13" src="https://user-images.githubusercontent.com/

[2020-12-09 13:28] jamesedmonston commented on #29
@approached Before the plugin supported JWTs, it required the tokens to be created this way.

You're right, there's some optimisation that could be done to skip the database steps and use the JWT data directly. I'm removing support for non-JWT tokens in `1.4`, so I will add this to that list.

Thanks!

[2020-12-10 13:19] Tam opened #31 "Don't throw `Invalid Authorization Header` if no auth header is set"
Currently the plugin throws `Invalid Authorization Header` when querying something like `getUser`. Instead it should just return null.

[2020-12-10 14:01] jamesedmonston commented on #31
I’m not sure. You’re calling a query that’s expecting authorisation, wouldn’t you want it to return a relevant error?

[2020-12-10 14:23] Tam commented on #31
The problem is it's treated as a server error and I'm pretty sure the `debugMessage` that actually says what's wrong isn't returned in production.

[2020-12-10 14:33] jamesedmonston commented on #31
@Tam Okay, that makes sense. I'll take a look.

[2020-12-10 19:30] jamesedmonston commented on #27
Removed in https://github.com/jamesedmonston/graphql-authentication/commit/6baab1b8180d309ec2c665460d703027ef6c67f1

[2020-12-10 19:30] #27 closed

[2020-12-10 19:58] jamesedmonston opened #32 "Rename `getUser` and `updateUser` to `viewer` and `getViewer`"
Following on from https://github.com/jamesedmonston/graphql-authentication/pull/30, we should deprecate `getUser` and `updateUser` in favour of `viewer` and `updateViewer`.

[2020-12-10 20:10] #32 closed

[2020-12-17 23:28] DidoMarchet opened #33 ""Invalid Authorization Header" on Logout"
Hi,
when I try to logout either with deleteCurrentToken or deleteAllTokens  I get this error:

[code]

Does anyone had the same issue?
Thanks in advance and regards,

Davide

[2020-12-18 10:49] jamesedmonston commented on #33
@DidoMarchet hey, thanks for trying out the plugin!

A few questions:
- Have you authorised with a user, and are now using the JWT to sign the calls?
- Do other queries/mutations work when signing with the JWT?
- Where are you sending the requests from?
- Can you double check that the access token hasn't expired?

I'll run some tests myself either way, and see if I can replicate.

Cheers

[2020-12-19 19:17] jamesedmonston commented on #33
@DidoMarchet I've just run a few tests and I'm unable to replicate this. I authenticated with a user and ran both the `deleteCurrentToken` and `deleteAllTokens` mutations successfully.

Can you double check you've got a valid JWT, and you're [signing the requests correctly](https://graphql-authentication.jamesedmonston.co.uk/usage/signing-requests)?

Happy to take another look if you can supply an

[2020-12-19 19:17] #33 closed

[2020-12-20 19:14] DidoMarchet commented on #33
Hi, sorry for the delay of the answer.
I'm trying mutations from Craft Explorer.
Then I get my authentication without problem.
But If I try (from explorer) to remove token it get me the error.

This Works well
[code]

This not works

[code]
Surely I'm doing something wrong.
Can you share how do you do the call?

Sorry for the dumb question,

Davide

[2020-12-26 20:30] jamesedmonston commented on #33
@DidoMarchet Okay, I think I see what's going on here. You need to sign every call after authenticating with the JWT token.

So, you run the `authenticate` mutation, grab the JWT token, and sign the calls as seen [here](https://graphql-authentication.jamesedmonston.co.uk/usage/signing-requests).

I would recommend using https://graphiql-online.com to test your authentication flows, as you cannot a

[2020-12-26 20:39] jamesedmonston commented on #33
@DidoMarchet I've just recorded a little screencast to walk you through it: https://www.youtube.com/watch?v=JMfE5Mb8S4g

[2020-12-27 06:37] daltonrooney opened #34 "Queries including `authorId` return incorrect results"
I've got a section called `courses` and a schema called `instructors`. When I run a query like this:

[code]

I should only get back 2 courses.

It works correctly with the public schema, in GraphiQL explorer (with the `instructors` schema), and from https://graphiql-online.com/graphiql using a token I created for the `instructors` schema.

When I query with a JWT token configured for the same sch

[2020-12-27 11:49] #34 closed

[2020-12-27 11:51] jamesedmonston commented on #34
@daltonrooney Hi again! Should probably mark you as our beta tester in the readme at this point... 😅

Have just pushed a fix for this.

[2020-12-27 13:09] DidoMarchet commented on #33
Great!
Really thanks for the support!
And have an happy new year,

regards, Davide

[2020-12-27 18:14] daltonrooney commented on #34
Thanks James, this seems to have done the trick!

[2020-12-28 19:06] jamesedmonston commented on #31
@Tam I've modified the behaviour in https://github.com/jamesedmonston/graphql-authentication/commit/50c2d7732ba5b5b0a1b465d132e915532a4830fe so that the data you're requesting returns `null`, but you still get a helpful error message and code, i.e.:

[code]

Returns:

[code]

[2020-12-28 19:07] #31 closed

[2020-12-29 23:20] jamesedmonston commented on #14
Added in https://github.com/jamesedmonston/graphql-authentication/commit/96c5236a1642649dbe02f7da6bc8924805ba7a84!

[2020-12-29 23:20] #14 closed

[2020-12-30 01:25] jamesedmonston commented on #29
@approached after further investigation, I think it's going to be too much work to remove the use of 1st-party GraphQL tokens. I'd likely have to duplicate Craft's GraphQL controller and modify the authorisation behaviour, and I'm not sure it's worth the time commitment in order to reduce a couple of database calls.

Happy to accept a PR if you're willing to invest the time.

Cheers

[2020-12-30 01:25] #29 closed

[2020-12-30 12:18] jamesedmonston commented on #22
@menberg I haven't found suitable way to silence this warning. I followed the advice in your references, but I couldn't get it to stop saving them into project config as associative arrays.

I don't think it's actually an issue (see [here](https://github.com/craftcms/cms/issues/6317#issuecomment-659056509)), and I haven't received any bug reports of project config not syncing across environments.

[2020-12-30 12:18] #22 closed

[2021-01-25 22:18] howells opened #35 "Unable to set category field on register mutation"
I'm not sure where I'm going wrong here, but I seem to be unable to set a category for a given user using the register mutation.

Given this mutation:

[code]

The `legacyId` custom field is set to 6634 but the organisation, whose id is 6634 definitely exists, is not set. I've tried `[6634]` and `"6634"` as values, but none of them work. Any ideas where I'm going wrong?

[2021-01-25 22:28] jamesedmonston commented on #35
@howells Hey,

I'll take a look at this tomorrow!

Does it throw an error, or simply not update the field's value?

Cheers

[2021-01-25 22:42] howells commented on #35
It simply doesn't update. Thanks so much, appreciate it!

[2021-01-27 00:05] benrnorman opened #36 "Plugin prevents all GraphQL calls in Craft CMS 3.6.0.1"
Hello,

I recently upgraded from Craft CMS 3.5.18 to 3.6.0.1. Subsequently, all my graphql calls return the following message:

`{
  "errors": [
    {
      "message": "Call to a member function getFields() on string"
    }
  ]
}`

If I uninstall the auth plugin, the graphqls work fine.

I also had to bump my php version in composer from 7.2 to 7.3 for the new Craft update, if that may be the caus

[2021-01-27 11:22] howells commented on #35
@jamesedmonston hate to chase, but wondered if you had a chance to look into it? I need the functionality in place for a new project I'm due to complete early next week.

[2021-01-27 18:37] #35 closed

[2021-01-27 18:38] jamesedmonston commented on #35
@howells I've just pushed a fix for this! I'll probably roll a release this evening, but feel free to pull from https://github.com/jamesedmonston/graphql-authentication/commit/165ec78a3c7f93741001a628bf4773782a068d78 if you need it urgently 👍🏻

[2021-01-27 19:05] howells commented on #35
Ace will check it out shortly - thanks

[2021-01-27 19:32] #36 closed

[2021-01-27 19:32] jamesedmonston commented on #36
@benrnorman I've just pushed https://github.com/jamesedmonston/graphql-authentication/commit/f6fb1c6aafe60d91221a1d551cd8d266d908760a which should resolve this. Need to run some more tests to ensure it doesn't break backwards compatibility, but you can pull from that commit in the meantime.

[2021-01-27 19:38] jamesedmonston commented on #35
@howells just an FYI, the user type registration has slightly changed as of https://github.com/jamesedmonston/graphql-authentication/commit/f6fb1c6aafe60d91221a1d551cd8d266d908760a, so you'll need to spread the user type in the responses, i.e.:

[code]

[2021-01-27 21:07] howells commented on #35
@jamesedmonston seems to work perfectly, thanks!

[2021-02-01 14:03] jamesedmonston commented on #35
@howells I've just pushed `1.4.2` which has this fix in. Cheers!

[2021-02-01 14:03] jamesedmonston commented on #36
@benrnorman I've just pushed `1.4.2` which has this fix in. Cheers!

[2021-02-02 04:00] benrnorman commented on #36
Thank you

[2021-02-15 12:11] rjgux opened #37 "Reset password process/flow question"
Hello! Thanks for this plugin, it's awesome.

I have a question about the 'Forgotten Password' / 'Set Password' flow, to allow a user to reset their password. This may be more of a Craft related question.

The mutation to send a password reset email makes sense to me. What I'm trying to then work out is how to route back to my application URL, with both the `code` and `id` query parameters require

[2021-02-15 16:14] rjgux commented on #37
Update -

I've worked out if you're an admin user `<{{link}}>` is `{siteUrl}/admin/set-password`

Whereas for other users `<{{link}}>` is `{siteUrl}/setpassword`

So by changing `siteUrl` I can achieve what I need to do, but it would still be useful to know if there are any other options here! :)

[2021-02-15 23:59] jamesedmonston commented on #37
@rjgux Hey, thanks for the positive feedback!

Bingo! What I usually do is have 2 separate URLs in `.env`:

[code]

I then use `FRONTEND_URL` in the site settings, like so:

<img width="1792" alt="Screenshot 2021-02-15 at 23 57 45" src="https://user-images.githubusercontent.com/4851924/108003121-a0c10700-6fe9-11eb-8fb3-b3b82ace75d0.png">

Along with the user-related emails then being correct, it'l

[2021-02-15 23:59] #37 closed

[2021-02-19 12:40] magicspon commented on #1
Do you have an example of using this to create/edit entries?
I've successfully used the login/register endpoints.  Now i'm trying to add some content.

[2021-02-20 15:29] magicspon opened #38 "Activate User"
After a user registers, and then goes to the activate url.  Passing code/id to the set password mutation does not activate the user.

[code]

response:
[code]

Cheers

[2021-02-20 21:45] jamesedmonston commented on #38
@magicspon Have just released [`1.4.4`](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.4.4) which fixes this. Thanks for reporting!

[2021-02-20 21:45] #38 closed

[2021-03-10 13:17] jamesedmonston opened #40 "Ensure Auth0 tokens work"
Based on some feedback in Discord, it seems that tokens created via Auth0 (and linked to a Google Client ID) may not be working correctly.

Need to test to get to the bottom of how/why this is.

[2021-03-10 14:00] andrewfairlie opened #41 "Verify email via GraphQL Authentication"
Hi @jamesedmonston

Is it possible to have a mutation that handles verifying emails? They're the URLs in the format of `/verifyemail?code=XYZ` which Craft sends out to new users.

I suspect it would be quite similar to how the `setPassword` mutation accepts the code

Ideally, we'd want our headless frontend handling those so that the backend URL isn't exposed.

Cheers,

Andrew

[2021-03-10 14:06] jamesedmonston commented on #41
Hey,

Somebody actually requested this on Discord a short while ago, so thanks for the reminder! I'll get it added 👍🏻

Cheers

[2021-03-10 18:21] jamesedmonston commented on #41
@andrewfairlie I've just released `[1.6.0](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.6.0)` which has a mutation called `activateUser`.

cc @magicspon

[2021-03-10 18:21] #41 closed

[2021-03-10 19:17] magicspon commented on #41
@jamesedmonston awesome... thanks

[2021-03-10 19:48] andrewfairlie commented on #41
Brilliant! Thank you, James. Super fast.

[2021-03-13 21:10] bartroelands opened #42 "SQL error 42703 on Postgres when registering a new new user"
Hello,

I am evaluating your plugin. When trying out a couple of first command I ran into this issue when registering a new user:

query was:

[code]

Response error:

[code]

I am running Craft version 3.6.10 on a Postgres 11.10 database. I suspect this error is due to the Postgres update statement.
Seems to be an issue with the expirydate passed on completely lowercase in stead of camelcase.

I

[2021-03-14 16:55] jamesedmonston commented on #42
@bartroelands thanks for reporting. Will get fixed ASAP!

[2021-03-15 15:12] andrewfairlie opened #43 "Enhanced activation functionality"
Would it be possible to show a different error message if we can't authenticate because the user hasn't yet activated their screen? Also, would it be possible to have a mutation that triggers the activation email being sent?

With these two, we would be able to show a message like

[code]

[2021-03-15 17:05] jamesedmonston commented on #43
@andrewfairlie I've just pushed a commit that adds a (customisable) response for unactivated users.

![Screenshot 2021-03-15 at 17 05 06](https://user-images.githubusercontent.com/4851924/111192109-a130cb80-85b0-11eb-8160-11b699ca6869.png)
![Screenshot 2021-03-15 at 17 05 04](https://user-images.githubusercontent.com/4851924/111192113-a2fa8f00-85b0-11eb-84a3-436814aa4440.png)

Will look into addin

[2021-03-15 17:18] jamesedmonston commented on #43
@andrewfairlie I've just pushed another commit which adds a `resendActivation` mutation which takes an `email` argument.

I'm going to fix https://github.com/jamesedmonston/graphql-authentication/issues/42 and then I'll roll out a release.

Cheers

[2021-03-15 18:53] #42 closed

[2021-03-15 18:58] jamesedmonston commented on #42
@bartroelands Have just pushed [`1.7.0`](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.7.0) which has this fix in. Thanks!

[2021-03-15 18:59] jamesedmonston commented on #43
@andrewfairlie Have just pushed [`1.7.0`](https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.7.0) which has these added. Thanks!

[2021-03-15 18:59] #43 closed

[2021-03-18 15:13] bartroelands opened #44 "Question - Multiple JWT refresh tokens at login"
Hi James,

We are doing some tests using your plugin to authenticate users through a mobile app accessing a Craft custom plugin's data. We got the authentication working through Apollo Graphql. One thing we noticed is that every time we authenticate a user in a test call, a new JWT refresh token is created. Is this intended behaviour ? Assuming for every new device a key record is created, but now

[2021-03-18 16:02] jamesedmonston commented on #44
@bartroelands Yes, this is intended behaviour. Refresh tokens are consumed when calling the `refreshToken` mutation, so each session/device needs its own token.

An example of this would be if your user logged into the same account across 2 devices. If refresh tokens were shared, once either of the devices called the `refreshToken` mutation, the token would be consumed and the other device would n

[2021-03-18 16:02] #44 closed

[2021-03-22 11:09] GMConsultant opened #45 "mutation Authenticate - strange unix date returned."
I'm testing the authenticate mutation:
There is a problem with the result:
"data": {
        "authenticate": {
"jwtExpiresAt": 1616412117000,
"refreshTokenExpiresAt": 1624355517000,
 }

000 is added to the end, making the unix data incorrect

But if you decode the JWT it's ok!

This is my environment:

Craft CMS 3.6.10
GraphQL Authentication: 1.7.0

PHP version: 7.3.20

[2021-03-22 12:35] bartroelands opened #46 "Support for custom elements"
Hi James,

Continuing to evaluate the plugin, I was wondering if an how the plugin supports custom elements in managing access. Browsing through you code I see support for entries and assets. I have my own plugin where I use custom elements that I want to manage (read/write only by author) through the plugin.... Haven't tested it fully yes, hence the question if and how this could work

[2021-03-23 10:57] bartroelands commented on #46
Hi James,

Seem the plugin can only handle Entries and Assets .. The authorisation and registration works fine. The issue is validating my custom elements. I expose them via the standard token en Bearer of craftCMS. This works fine but we don't have the link with the user voor validation and we need to switch Authorization headers depending on what call we make ... Plus we don't have the individua

[2021-03-31 10:57] Tam opened #47 "Passing an malformed JWT token throws an error"
When passing an malformed JWT token, this error is thrown:

[code]

[2021-03-31 11:26] Tam commented on #47
@jamesedmonston I'm also getting it if I don't pass the auth header at all...

[2021-04-06 10:51] jamesedmonston commented on #47
@Tam would you be able to try https://github.com/jamesedmonston/graphql-authentication/commit/b7cbeae2fad0938cb3aeb2e5a389fea3b9956229 and see if it fixes the issue for you?

[2021-04-07 15:28] Tam commented on #47
@jamesedmonston Partially, I've made a pull request to fix some other issues

[2021-04-07 15:39] jamesedmonston commented on #47
@Tam cool, I'll take a look at the PR this evening. Cheers

[2021-04-12 07:52] andrewfairlie opened #49 "Mutuation to update a viewer's preferredLanguage"
This can be useful to ensure that the system messages they receive (such as password resets) are translated into their language.

[2021-04-19 17:25] chrishale opened #50 "Entry queries without section argument are scoped to author, regardless of settings"
I'm having an issue when performing queries without a section argument (I quite often already have an ID or URI from another query). For example, if I query the following with a valid JWT - no entry is returned. But without the JWT, the query succeeds as it should.
`
query {
  entry(uri: "about") {
    id
  }
}
`
For reference, I'm not currently using the "Restricted Entry Queries" sections for my

[2021-04-19 20:13] jamesedmonston commented on #50
@chrishale Thanks for pointing this out. I've been meaning to add a note to the docs about this as it isn't the first time it's come up.

The automatic injection of the `authorId` argument on queries that don't specify a `section`/`sectionId` argument is a security fallback for sites that _do_ use the restricted query settings. It also helps to keep limit/pagination working correctly.

In the foll

[2021-04-19 20:13] #50 closed

[2021-04-19 21:14] jamesedmonston commented on #49
@andrewfairlie I've added a `preferredLanguage` argument to both `register` and `updateViewer`

[2021-04-20 08:17] andrewfairlie commented on #49
This is great, thank you. Do you have an idea about what release this will make it into? I just want to inform the client with an ETA, no rush.

[2021-04-20 08:44] chrishale commented on #50
@jamesedmonston Thanks for your reply, this makes sense now. Perhaps there is room for an `else if` in there for when no sections are selected in the "Restricted Entry Queries" settings, because in that instance - it shouldn't need to set the authorId?

This won't necessarily fix my use-case as I will need to take advantage of the Restricted Entry Queries at some point, so probably not an urgent a

[2021-04-23 18:45] jamesedmonston commented on #47
@Tam I've merged your PR. Will roll into a release soon. Cheers

[2021-04-23 18:45] #47 closed

[2021-04-29 20:44] jamesedmonston commented on #47
@Tam I finally got around to rolling this into a release: https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.8.0

[2021-04-29 20:44] jamesedmonston commented on #49
@andrewfairlie sorry for the delay! Have just rolled it into a release: https://github.com/jamesedmonston/graphql-authentication/releases/tag/1.8.0

[2021-04-30 08:15] GMConsultant opened #52 "Requests failing with public schema disabled"
Hi James,
After the last update I noticed that the htaccess configuration present in my htaccess file:

[code]
seems no longer necessary ...
Indeed, this creates a Header Authorization problem.

Can you confirm me if the latest changes impact this configuration?

Craft Pro 3.6.12.1
GraphQL Authentication | 1.8.0

[2021-04-30 09:25] jamesedmonston commented on #52
@GMConsultant I'm not overly familiar with `htaccess` rules – can you explain exactly what that's doing, and why you needed to add it in the first place?

[2021-04-30 10:29] GMConsultant commented on #52
in Craft CMS documentation ( https://craftcms.com/docs/3.x/graphql.html#sending-api-requests ) Querying a Private Schema it's explained:

_If you’re unable to query a private schema because of a “missing authorization header”, make sure Craft received it from the web server with a quick post to a test template:_

[code]
_Apache strips Authorization headers by default, which can be fixed by enablin

[2021-04-30 10:38] jamesedmonston commented on #52
@GMConsultant interesting, thanks for the reference. I use `nginx` for testing locally – so unfortunately didn't run into this issue. Does everything work as expected once removed?

[2021-04-30 10:48] GMConsultant commented on #52
yes...
I also inform you that at the same time I also updated Craft Cms to version 3.6.12.1

So could it be something in the NEW version of Craft Cms?

[2021-04-30 11:15] jamesedmonston commented on #52
@GMConsultant It's certainly possible that https://github.com/jamesedmonston/graphql-authentication/pull/48 slightly changed the behaviour. If it works fine without the rule I'd go ahead with that 👍

I'll pin this issue so it's visible to other users who may have a similar setup to you.

[2021-05-03 09:55] GMConsultant commented on #52
Hi James,
After a test on production enviroment, if I remove the htaccess directive, the login run OK BUT all others GraphQL has problem:

[code]
If I enable the htaccess directive ( after login ) all are ok.

There is a Authorization header problem into the plugin....

[2021-05-03 09:56] GMConsultant opened #53 "Header Authorization problem - after upgrade"
Hi James,
After a test on production enviroment, if I remove the htaccess directive, the login run OK BUT all others GraphQL has problem:

[code]
If I enable the htaccess directive ( after login ) all are ok.

There is a Authorization header problem into the plugin....

_Originally posted by @GMConsultant in https://github.com/jamesedmonston/graphql-authentication/issues/52#issuecomment-831154582_

[2021-05-03 10:23] GMConsultant commented on #53
I downgraded to 1.7.0  and all are ok.

[2021-05-03 13:36] magicspon commented on #53
I'm also seeing this issue with 1.8.0

[2021-05-03 13:39] GMConsultant commented on #53
FYI this is the error:

[code]

[2021-05-03 14:24] jamesedmonston commented on #53
Looks like https://github.com/jamesedmonston/graphql-authentication/pull/48 must’ve broken something. I’m out at the moment – will take a look this evening.

Cheers

[2021-05-03 20:39] jamesedmonston commented on #53
@GMConsultant @magicspon would you be able to try https://github.com/jamesedmonston/graphql-authentication/commit/83674b20af571fb683e558d9f0bc084ee74696a7 and let me know if that fixes the issue for you, please?

[2021-05-04 10:40] GMConsultant commented on #53
Hi James,
I've installed with:
`composer require jamesedmonston/graphql-authentication:dev-develop`
But it's the same....

[GraphQL_Error_Error.pdf](https://github.com/jamesedmonston/graphql-authentication/files/6420484/GraphQL_Error_Error.pdf)

[2021-05-04 10:43] jamesedmonston commented on #53
@GMConsultant Thanks for the attached PDF – that's pointed me in the right direction. Fixing now!

[2021-05-04 10:44] #53 closed

[2021-05-04 10:46] jamesedmonston commented on #53
@GMConsultant would be great if you could try updating again to see if the latest commit has resolved it. Sorry for the hassle!

[2021-05-04 10:53] GMConsultant commented on #53
YES!!!!! NOW it' s OK!

[2021-05-04 10:54] jamesedmonston commented on #53
@GMConsultant Awesome! Will get this rolled into a release later on today 👍

[2021-05-04 21:27] jamesedmonston commented on #29
@approached I've been working on some general optimisations for the next update, and have just implemented this! It'll no longer create Craft access tokens, and will use the JWT schema directly. (https://github.com/jamesedmonston/graphql-authentication/commit/44e9291c1400dc123072727e71ecc50bdeb6505e)

[2021-05-04 22:12] jamesedmonston commented on #53
@GMConsultant @magicspon I've just pushed out `1.9.0` that has this fix in. Thanks!

[2021-05-04 22:15] jamesedmonston commented on #45
@GMConsultant This was done purposely, so that when comparing the expired data in JavaScript using `(new Date()).getTime()` the number of digits matches.

[2021-05-04 22:15] #45 closed

[2021-05-06 09:49] jamesedmonston opened #54 "`updateViewer` mutation throwing"
Adding this issue as a notice: the `updateViewer` mutation is currently throwing an error. I've fixed the issue in https://github.com/jamesedmonston/graphql-authentication/commit/8048d64f8bd1691178f6583f7022f0092bf9c493 but there are a couple of other commits behind it that I need to test more before releasing an update.

[2021-05-06 12:07] Tam opened #55 "Mutations being fired twice per-request"
It seems like all mutation (at least all custom mutations) are being fired twice for a single request. Isn't an issue in 1.7 but is in 1.9.

[2021-05-06 20:47] #55 closed

[2021-05-06 20:47] #54 closed

[2021-05-06 21:06] jamesedmonston commented on #55
@Tam `1.9.1` is out now with this fix.

[2021-05-07 11:01] GMConsultant opened #56 "Error on refreshToken after upgrade to v.1.10.0"
Hi James,
After the last upgrade ( v.1.10 ) the

[code]
Produced this error:

[code]

[2021-05-07 11:23] #56 closed

[2021-05-07 11:29] jamesedmonston commented on #56
@GMConsultant Sorry! I've just released `1.10.1` which fixes this.

[2021-05-07 13:32] GMConsultant opened #57 "Update the doc"
Hi James!
please update the doc :)
https://graphql-authentication.jamesedmonston.co.uk/usage/authentication#log-out

[2021-05-07 13:42] jamesedmonston commented on #57
Yep! It’s on my list

[2021-05-08 11:29] jamesedmonston commented on #57
@GMConsultant done! https://graphql-authentication.jamesedmonston.co.uk/usage/authentication#delete-refresh-tokens

[2021-05-08 11:29] #57 closed

[2021-05-08 11:40] jamesedmonston commented on #50
@chrishale I've _finally_ added a note about this to the docs! https://graphql-authentication.jamesedmonston.co.uk/extra/fy

[2021-05-10 11:26] andrewfairlie commented on #52
@jamesedmonston we've noticed this happening since upgrading (I think it happened at 1.9.0) using Nginx via Forge.

We now get

[code]

But looking at the headers sent, we're definitely sending a JWT authorization header

![image](https://user-images.githubusercontent.com/1772888/117652251-d9a4ee00-b18a-11eb-88d2-4231d079baa1.png)

And the authorization header is in the `access-control-allow-heade

[2021-05-10 11:43] jamesedmonston commented on #52
@andrewfairlie Huh, sorry about that. I'll take another look – strange as we haven't had this issue on any Nginx projects. Are you on the latest version (`1.10.3`)?

[2021-05-10 12:11] andrewfairlie commented on #52
Yep, 1.10.3. Let me know if I can help at all.

[2021-05-10 13:11] jamesedmonston commented on #52
@andrewfairlie I've narrowed down the issue – will have a fix up shortly!

[2021-05-10 13:22] andrewfairlie commented on #52
The public schema is disabled.

[2021-05-10 13:31] jamesedmonston commented on #52
Cool, thanks. As an interim fix you can enable the public schema.

[2021-05-10 13:36] andrewfairlie commented on #52
Cool that worked 👍

[2021-05-18 09:23] Stalex89 opened #58 "Invalid Authorization Header with "Authorization": "JWT ... " set"
I have an issue with the requests where JWT Auth header is required.

It fails with "Invalid Authorization Header" or "Failed to fetch".

Can you please give a hint what can be a cause of an issue ? Thank you

Screenshots from Postman:

Login

<img width="1310" alt="Screenshot 2021-05-18 at 11 13 39" src="https://user-images.githubusercontent.com/23526237/118626426-29a73480-b7cb-11eb-92d7-3707cca6

[2021-05-19 08:40] SayChi opened #59 "Crashes after removing schema"
It seems the plugin saves the ID of the selected schema in its settings, but it's assumed by the code to be valid. This ID does not get updated when something in the schemas is changed, like deleting it. (I'm guessing there is no real way to keep this updated automatically either)

This causes both the settings page and the authentication mutation (and i assume any other queries/mutations) to cras

[2021-06-08 11:03] jornwildenbeest commented on #52
Any updates related to this isue?

[2021-06-09 09:35] Tam opened #61 "Prevent Invalid Authorization Header from appearing in logs"
Cause hot damn our logs are spammmmmmmmmed (if it's not a you thing just close the issue 👍)

[2021-06-11 03:56] jstevens79 opened #62 "Request Cookie Not Being Set"
I'm trying to get the HttpOnly cookies to set properly in the browser. I can see that the Authenticate request returns a response cookie, but it doesn't set it in the browser. I have the settings set to Lax in the Craft plugin, and then on client side, I'm using graphql-request with the following settings. Any ideas what's going wrong and why the cookie isn't setting properly?

`import fetch from

[2021-06-14 08:52] jamesedmonston commented on #62
@jstevens79 how are your back-end and front-end domains set up? Are they currently on separate origins? I've not had much luck getting them to send across domains (even with `lax` set) as browsers seem to block them as tracking cookies. Which browser are you testing on out of interest?

[2021-06-24 10:49] Zsavajji commented on #58
Hello @jamesedmonston, i experience this problem as well: I can successfully register users, **authenticate** gives back a JWT token, but i cannot query viewer at all.

Did you ever find the root cause of this issue?

[2021-06-24 11:34] jamesedmonston commented on #58
@Stalex89 @Zsavajji it would be great to know a little bit more about your setups. Are you using `nginx` or `Apache`? If you're using `Apache`, have you modified your `.htaccess` file to ensure the authorization header is being passed through? https://craftcms.com/docs/3.x/graphql.html#querying-a-private-schema

[2021-06-24 12:05] jamesedmonston commented on #52
@jornwildenbeest Are you experiencing the issue even with the public schema enabled? I can see where the issue is, but haven't yet found a way of fixing it. In the meantime you can enable your public schema and disable introspection by settings https://craftcms.com/docs/3.x/config/config-settings.html#enablegraphqlintrospection to `false` in production.

[2021-06-24 12:16] Zsavajji commented on #58
Hi, yes, i came to the same conclusion, it's a matter of Apache's configuration.
I set the CGIPassAuth option and it's now working correctly.
I always worked with NGINX servers so it did seem a bit strange to me that the WS was blocking the header.

Thank you! :)

[2021-06-24 12:38] jamesedmonston commented on #58
I've just added a note about this to the docs, to hopefully stop people running into this issue again: https://graphql-authentication.jamesedmonston.co.uk/usage/signing-requests

[2021-06-24 12:38] #58 closed

[2021-07-02 09:07] jornwildenbeest commented on #52
@jamesedmonston Sorry for the late response. I found out that my issue was caused by some time difference between the server and the database.

Goodluck with this issue!

[2021-08-05 07:09] nstCactus opened #65 "PHP 8 compatibility"
Currently the plugin is not compatible with PHP 8 due to a dependency to [`abraham/twitteroauth:^1.0`](https://packagist.org/packages/abraham/twitteroauth#1.2.0).

The [latest version of `abraham/twitteroauth`](https://packagist.org/packages/abraham/twitteroauth#3.1.0) seems compatible with PHP 8.0. I have no idea of the amount of work required to make the plugin compatible with the latest version

[2021-08-05 09:09] #62 closed

[2021-08-05 09:10] jamesedmonston commented on #65
@nstCactus thanks for the heads up! I'll get an env set up locally and check it out.

[2021-08-05 14:00] holmey commented on #65
PHP 8 support would be great. I configured an alias for [abraham/twitteroauth](https://packagist.org/packages/abraham/twitteroauth#3.1.0) so this plugin is used in the latest version.
But when this issues was resolved i figured out that also [facebook/graph-sdk](https://github.com/facebookarchive/php-graph-sdk) does not have support for PHP 8.

[2021-08-10 17:40] J-Protz opened #66 "Cannot query by viewer without public schema active"
When trying to query information using the auth JWT,  I get an error saying Authorization header is missing if the public schema is disabled. If enabled, even with all options unchecked, it then works.

[2021-08-14 10:21] jamesedmonston commented on #66
Duplicate of https://github.com/jamesedmonston/graphql-authentication/issues/52

[2021-08-14 10:21] #66 closed

[2021-08-14 12:09] #65 closed

[2021-08-14 12:21] jamesedmonston commented on #65
I've just released `1.11.0` includes this fix.

[2021-09-08 03:24] daltonrooney opened #68 "ErrorException: Undefined index: siteId in ... GlobalSet.php:38"
I just attempted an upgrade to Craft 3.7.11 and GraphQL-Authentication 1.11.3 and get the following error whenever I try to query a Global set that used to work:

[code]

This site has been running GraphQL-Authentication since the early days so is it possible I missed a setting upgrade somewhere along the way?

[2021-09-08 08:26] jamesedmonston commented on #68
@daltonrooney does it work if you resave the settings?

[2021-09-08 11:07] tomkiss opened #69 "Working example to modify JWT payload"
Hey 👋

I'm evaluating this plugin and looking to change the jwt payload.

When copying the [example here](https://graphql-authentication.jamesedmonston.co.uk/usage/modifying-jwts) and saving the file to `modules/ModifyJwt/Module.php`, when loading the module via `composer dump-autoload -a` it claims:

[code]

Apologies, as I'm not too familiar with Modules, but is this a bug in the example or am I

[2021-09-08 13:58] daltonrooney commented on #68
No, I did try that, no luck. Is there something in my project.yaml file I should look for to see if they were saved successfully?

[2021-09-10 05:54] keshavsharma opened #70 "updateViewer mutation throws error."
I am using this mutation for saving custom user fields, after user registration. But it throws error given below:

[error][PDOException] PDOException: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`craft_dev`.`dfd_relations`, CONSTRAINT `dfd_fk_omntsbauduofwbpoxdeoldsfurvgnfjdwqoq` FOREIGN KEY (`targetId`) REFERENCES `dfd_el

[2021-09-10 12:50] jamesedmonston commented on #70
Are you able to supply any more information? It would be good to see the mutation you’re trying, and to know the types of fields you’re trying to update.

[2021-09-10 12:53] jamesedmonston commented on #68
@daltonrooney the error was immediately obvious to me upon a second look! Have just pushed https://github.com/jamesedmonston/graphql-authentication/commit/aa695ec87274c57a01a01b08efc8234c86ece657 which fixes this

[2021-09-10 12:53] #68 closed

[2021-09-10 14:26] keshavsharma commented on #70
I have generated query to update User Custom fields: of type ( String, Matrix, Checkboxes, User, Address field ( part of https://plugins.doublesecretagency.com/) ) , Address field is not used in query yet. I have tried removing matrix fields also from mutation query, But it didn't work.

Here is query:
mutation UpdateUser($checkForOpenPositions: [String], $checkForSwapPositions: [String], $partner

[2021-09-10 15:03] keshavsharma commented on #70
I found this issue is related to Craft CMS core, It happens when we try to assign non existing user id, to "Users" type field in Query parameters.
Craft CMS should send exception message like below, instead of failed sql errors.

I'm using Angular frontend with graphql.

My query seems working now, but it still not seems updating Matrix fields.

I found this another problem in query below. It work

[2021-09-12 06:08] shennyg opened #71 "Improve restrictForbiddenFields"
Hey James! Thanks for this plugin, super useful!!

We are running into an issue where we have generic field names and they are incorrectly triggering the "User doesn't have permission to access requested field(s)" error.

For example we have a field named `date` and when we run an `updateViewer` mutation the `StringHelper::containsAny($event->query, $privateFields)` is looking through the whole qu

[2021-09-19 09:13] jamesedmonston commented on #69
@tomkiss Hey, sorry for the delay – I've been away on holiday for the last week! Would you be able to share your PHP and Composer versions, and also show me what your `app.php` file looks like?

I'm unable to replicate running PHP 8, Composer 2, and an `app.php` file as follows:

[code]

[2021-09-19 10:03] jamesedmonston commented on #71
@shennyg Hey, would you be able to supply an example of your field permission settings, and the mutation/query you're firing? I'm struggling to replicate the issue locally but I'm sure I'm missing something obvious!

[2021-09-19 11:09] jamesedmonston commented on #71
@shennyg I've just pushed https://github.com/jamesedmonston/graphql-authentication/commit/3694bab1853621865bc8e7ae7474c7c1ea86e6e8 which refactors this – it now recursively loops through the field field selections and arguments, and throws based off of that, rather than looking directly at the query string for any matches.

It'd be great if you could give that commit a whirl to see if it's all wor

[2021-09-19 11:11] #40 closed

[2021-09-23 04:47] shennyg commented on #71
That did the trick, thanks so much for the quick fix!!!

[2021-09-23 08:42] jamesedmonston commented on #71
@shennyg awesome! I've just released `1.11.4` with this fix.

[2021-09-23 08:42] #71 closed

[2021-09-23 08:57] jamesedmonston commented on #68
I've released `1.11.4` with this fix.

[2021-09-27 13:46] jamesedmonston commented on #70
@keshavsharma  I've just pushed version `1.11.5` which improves the way errors are handled in production environments. You'll now see `Invalid Authorization Header` on requests with an expired/invalid token.

[2021-09-27 13:46] #70 closed

[2021-09-27 14:26] keshavsharma commented on #70
Thanks for update, i will update it soon.
Thanks & Regards
Keshav Sharma

    On Monday, 27 September, 2021, 07:16:41 pm IST, James Edmonston ***@***.***> wrote:

@keshavsharma I've just pushed version 1.11.5 which improves the way errors are handled in production environments. You'll now see Invalid Authorization Header on requests with an expired/invalid token.

—
You are receiving this because

[2021-09-27 14:45] jamesedmonston commented on #61
@Tam it doesn't look like there's any way for me to stop this happening: https://github.com/craftcms/cms/blob/develop/src/controllers/GraphqlController.php#L174

[2021-09-27 14:45] #61 closed

[2021-09-29 11:10] magicspon opened #72 "Social login activation URL"
Hello,

If validate email is set to true, and a user registers/logs in via google (apple, twitter etc), the activation email sent is the "set-password" one.

Ideally it would send them the regular activation email.

Is there anyway I can make it so?

Thanks
Dave

[2021-09-29 11:18] jamesedmonston commented on #72
@magicspon sounds like a bug, I'll take a look. Cheers

[2021-10-04 13:57] Tam opened #74 "Registration error being treated as server error"
If a user tries to register with an email that already exists, the below is returned (with a 200 status code):

[code]

[2021-10-08 21:14] jamesedmonston commented on #69
@tomkiss awesome! I'll get something added 👍

[2021-10-12 11:41] magicspon opened #76 "Feature request: update "last logged in""
Heyo...

Would it be possible to update a users "Last login" value when signing in.

![image](https://user-images.githubusercontent.com/3268717/136949508-02c789a5-af46-4ba7-9166-50113856039b.png)

at the moment, the value is not updating.

Cheers

[2021-10-12 11:42] #76 closed, assigned to nobody

[2021-11-01 10:13] mgambella commented on #74
@jamesedmonston the same happens also on login:

[code]

[2021-11-01 10:15] mgambella commented on #74
@jamesedmonston the same happens also on login or when an user tries to login without having activated the account before.

[2021-11-01 10:30] mgambella commented on #74
@jamesedmonston here is the stack trace for an attempted login when in dev mode

[code]

[2021-11-01 14:22] mgambella commented on #74
I found out the the something is wrong in the **1.11.5** version because it is working again after I downgraded the plugin to **1.11.4** in composer.json

[2021-11-02 14:16] jamesedmonston commented on #74
Have pushed a fix for this. You'll now see a contextual error such as:

[code]

[2021-11-05 17:33] jamesedmonston commented on #74
@Tam @howells @mgambella I've just released `1.12.0` with this! 👍

[2021-11-09 16:30] howells opened #78 "Migration error when upgrading from 1.11.5 to 1.12.0"
I just tried upgrading to 1.12.0 but I get a migration error; using Craft 3.7.20

[code]

[2021-11-09 16:48] jamesedmonston commented on #78
Fixed in https://github.com/jamesedmonston/graphql-authentication/commit/8b72cfdf03790f40a9eed2890c91a0292b32da46. Sorry!

[2021-11-09 16:48] #78 closed

[2021-11-11 11:04] jamesedmonston commented on #2
Interestingly we're not having this issue on our production client projects 🧐

Are you still seeing the issue on the latest Craft version?

![Screenshot 2021-11-11 at 11 03 36](https://user-images.githubusercontent.com/4851924/141287427-fd1cb718-2a43-432d-b424-ddb58cf7be3f.png)

[2021-11-13 11:38] tomkiss commented on #69
Hi @jamesedmonston,

I'm seeing an error that is throwing me somewhat and I think it's to do with my custom jwt module. It seems to be occurring on non-admin accounts only. It's a multi-site setup with no per-site restructions.

Any pointers as to what could be happening here would be much appreciated, thank you 🙌

The module is as follows:

[code]

The following error is output when authenticatin

[2021-11-17 09:44] nstCactus opened #80 "[Feature request] Add the ability to retrieve the `passwordResetRequired` user field"
Would it be possible to return the `passwordResetRequired` user field in the `authenticate` mutation and `viewer` query?

This would give the opportunity for frontend code to redirect a user to a page where he could change his pass.

I know it's not a real security as, being frontend code, it could possibly be bypassed by an advanced user. But still nice to have for incite user to change their pas

[2021-11-17 12:24] nstCactus commented on #80
Nevermind, I found out you can easily add new fields to Craft graphql interfaces:

        Event::on(
            TypeManager::class,
            TypeManager::EVENT_DEFINE_GQL_TYPE_FIELDS,
            function(DefineGqlTypeFieldsEvent $event) {
                if ($event->typeName === 'UserInterface') {
                    $event->fields['passwordResetRequired'] = [
                        'name'

[2021-11-17 12:24] #80 closed

[2021-11-18 17:21] magicspon commented on #2
Snap... looks like it's fixed itself.

cheers

[2021-11-18 17:49] #2 closed

[2021-11-30 10:39] Fragilem17 opened #82 "Can't buy and install - This plugin requires PHP ^7.4 || ^8.0, but your composer.json file is currently set to 7.4.26."
Hi There,

I'm facing an issue with purchasing the plugin.
The box is disabled in Craft and the message is saying my php version is wrong.
however.. composer has been updated to a version that is above 7.4.0

[edit: managed to manually do the composer install and that seems to have worked, but the box still looks disabled]

Any ideas?
Best regards,
Tom

[2021-11-30 11:12] jamesedmonston commented on #82
Would you be able to post your `composer.json` contents here, please?

Also, what PHP version shows when going to `Utilities -> System Report`?

[2021-11-30 13:04] Fragilem17 commented on #82
`{
  "require": {
    "craftcms/cms": "^3.6.4",
    "craftcms/feed-me": "4.4.0",
    "jamesedmonston/graphql-authentication": "^1.12",
    "vlucas/phpdotenv": "^3.4.0"
  },
  "require-dev": {
    "yiisoft/yii2-shell": "^2.0.3"
  },
  "autoload": {
    "psr-4": {
      "modules\\": "modules/"
    }
  },
  "config": {
    "sort-packages": true,
    "optimize-autoloader": true,
    "platform": {

[2021-11-30 13:10] jamesedmonston commented on #82
Does it work if you change the `php` value to `"7.4"` in `composer.json`?

[2021-11-30 13:14] Fragilem17 commented on #82
Changed it, but it's hard to test right now as its already bought and installed, so the "buy box" shows as disabled anyway and the requirement message is gone.

[2021-11-30 13:16] jamesedmonston commented on #82
Ah, that makes sense. It feels like it's more of a Composer issue, but it could be something to do with my setup. I'll do some testing.

(Thanks for buying!)

[2021-12-01 16:17] Fragilem17 opened #83 "Viewer query returns info without viewer being activated (because registration already provides a jwt)"
Hi,

I'm wondering if this is by design?

When you register (mutation Register) a JWT token is sent over by the registration process.
Using that JWT you can do just about anything that is in that schema.
**(That seems weird to me as the user is not activated yet)**

Login at this time does not return a JWT token which I think is correct.
(It correctly returns the string "Please activate your accou

[2021-12-02 10:50] Fragilem17 opened #84 "feature request - Ability to delete your user account."
Would be great if, next to being able to update your password and personal data, you could also delete your account using GraphQL.
This would make it a bit more compliant with GDPR

Thanks for making this plugin! it's working great so far!

Tom

[2021-12-02 11:02] jamesedmonston commented on #84
@Fragilem17 Great idea.

Initially I can see two ways of implementing this, do you have any thoughts?

- A mutation where you supply (and confirm) password, which instantly deletes the user
- A mutation that fires off an email with a confirmation link/code, which you then pass into an additional mutation that does the deletion

[2021-12-02 11:13] Fragilem17 commented on #84
Hi James,

I think the first one would be the most developer friendly ;-)
So you provide the JWT (have to be logged in first) and the password to the delete mutation and it's done.
Feels save enough i think.

T

[2021-12-03 06:26] daveyjones opened #85 "Twig error introduced with Craft 3.7.24"
I'm getting the following error when trying to load the settings page:

`Argument 1 passed to craft\web\twig\variables\Cp::field() must be of the type string, null given, called in /var/www/staging/vendor/twig/twig/src/Extension/CoreExtension.php on line 1511`

I believe this started as soon as I upgraded to [Craft 3.7.24](https://github.com/craftcms/cms/blob/main/CHANGELOG.md#3724---2021-12-02).

[2021-12-03 10:09] jamesedmonston commented on #85
I'm able to reproduce this locally. Looking into it now.

[2021-12-03 10:18] #85 closed

[2021-12-03 11:00] #74 closed

[2021-12-03 19:27] daveyjones commented on #85
Thanks! Do you know when an update will be available? I tried applying these changes manually but I'm still getting an error...I may have missed something.

[2021-12-03 21:33] daveyjones commented on #85
Awesome, thanks! I just replaced the plugin directory with the `develop` branch from GitHub for now (until an update is available). Everything is working great now.

[2021-12-05 23:25] bartroelands opened #86 "Type error accessing setting since Craft 3.7.24"
Hi,

I have upgraded my dev box to Craft 3.7.24 and encounter errors below when accessing the setting of the plugin:

[code]

[code]

[2021-12-06 00:13] jamesedmonston commented on #86
Yep, this was noted in https://github.com/jamesedmonston/graphql-authentication/issues/85. Fix will be out soon. In the meantime you can run the develop branch

[2021-12-06 00:13] #86 closed

[2021-12-06 10:30] jamesedmonston commented on #86
1.12.2 is out now with this fix.

[2021-12-06 10:31] jamesedmonston commented on #85
@daveyjones 1.12.2 is out now with this fix, thanks!

[2021-12-06 10:48] bartroelands commented on #86
Thanks !

On Mon, 6 Dec 2021 at 11:31, James Edmonston ***@***.***>
wrote:

[2021-12-15 11:01] uhohbananatime opened #87 "Cannot remove from my plugins"
I cannot seem to remove the plugin, I have tried removing the auth key, then uninstalling, then removing it, and some how it always comes back as "Missing".

How do I remove this entirely?

<img width="1176" alt="shot" src="https://user-images.githubusercontent.com/62956235/146174909-f0fbf985-bd66-422e-b219-8fb0672ca599.png">

[2021-12-16 12:24] magicspon commented on #87
I've seen this issue with some other plugins... i think this is a craft issue more than a `graphql-authentication` issue

[2021-12-17 14:06] uhohbananatime commented on #87
I agree with you there, noticed it has the same impact on another plugin, thanks for giving it a look!

[2021-12-17 14:06] #87 closed

[2022-02-25 10:17] #82 closed

[2022-03-17 22:51] palomamtnez opened #88 "Invalid Refresh Token: What's the correct approach?"
First of all, thanks for an amazing plugin, it has made my life easier :)

I just have a question, when is it expected to refresh the JWT and refreshToken ?

E.g. in my app, as soon as the user logs in, the tokens are stored successfully.
Then, in every request that the user makes in the frontend, it carries the JWT in the authorization headers and works fine.
But eventually, this token expires, a

[2022-03-18 11:41] jamesedmonston commented on #88
Hey, thanks for the kind words!

At a high level it sounds like you're doing everything correctly 🤔, would you be able to share the token expiry section of your plugin settings? Is your refresh token expiry set to a longer expiry than the JWT expiry?

Thanks!

[2022-04-07 10:40] rjgux commented on #84
One way we have approached this is to use a graphql mutation to set a 'Cancel Account' lightswitch field to field to true. We then have a task that checks user accounts that match the criteria and deletes them on a schedule.

[2022-04-07 14:20] rjgux opened #90 "Verifying an email address after mutating a user"
On the front-end of our site we're allowing users to update their email address via the following mutation -

[code]

However, this doesn't trigger Craft's email verification system. The new email address and user is saved automatically without requiring any verification steps and doesn't trigger the `verify_new_email` system message in Craft.

Is this possible through the `updateViewer` mutation

[2022-04-20 15:09] toddpadwick opened #91 "Question: Does this take care of all requirement for CSRF protection in my login and sign up forms?"
I'm new to handling security protocols and authorising users on a headless set-up. Only done that with twig before on classic craft sites.
With this plugin, do I still need to find a solution for handling CSRF tokens? Or does JWT auth make CSRF protection redundant?

If I do need further CSRF protection on my forms, do you have any advice for this?

FYI, I am using Nuxt.js and Apollo.

[2022-04-28 12:01] Tam opened #92 "Reduce dependency install size"
this plz my composer just timed-out because google https://github.com/googleapis/google-api-php-client#cleaning-up-unused-services

[2022-04-28 12:01] Tam commented on #92
bump

[2022-04-28 12:01] Tam commented on #92
+1

[2022-05-04 12:02] Tam opened #93 "Variable "namespace" does not exist."
When trying to view the settings page:

[code]

Craft: Craft Pro 3.7.40
Auth Plugin: 1.12.3

[code]

[2022-05-09 09:10] rjgux commented on #90
I'm not sure if this is a bug with the current implementation or whether it's a feature that needs adding, but we would happy to try and help out and contribute.

[2022-05-10 17:36] magicspon opened #94 "Craft 4 [request]"
Hi James,

Are you planning on updating this plugin to work with Craft 4?  If so, do you have any idea when it might be ready?

ta

[2022-05-12 11:04] jamesedmonston commented on #90
@rjgux It's mainly an oversight in my original implementation of the `updateViewer` plugin, where it updates _everything_ without any validation. I'd be happy to grant you a license for a PR!

I'm going to be fixing bugs and updating for Craft 4 very shortly either way, so no stress!

[2022-05-12 11:06] jamesedmonston commented on #93
@Tam did this happen after updating Craft? Did subsequent Craft updates resolve the issue?

[2022-05-12 11:08] jamesedmonston commented on #83
@Fragilem17 I'll likely release this update as part of the `2.0` migration to Craft 4. It'll be a breaking change for most people, so don't want to release as a patch for `1.x`.

[2022-05-12 14:46] Tam commented on #93
@jamesedmonston Turns out it has something to do with `Craft::$app->getUser()` not having a user when the plugin goes to check if the current user is admin. Not sure why or how to fix it.

[2022-05-12 14:51] Tam commented on #93
@jamesedmonston Found a fix:

[code]

[2022-05-16 14:40] Parker-Bergen opened #95 "Ability to query user group with viewer"
Is there currently any way to query users along with their user group? I see that you can filter the query based off of this, but I want to know the user group that belongs to a specific user when requesting all the users.

[2022-06-07 09:54] #88 closed

[2022-06-12 21:18] mgambella commented on #94
Hello @jamesedmonston have you some news on this issue? When do you think you will release the updated plugin?

[2022-06-22 22:53] blnkt commented on #94
Such excellent news.  Look forward to a Craft 4 compatible release.

[2022-07-01 14:37] GMConsultant opened #96 "Authenticated users see only their own entries."
The problem is just for the display everything else works perfectly.
In the USERS configuration I have **not** set any query / mutation limit for the user:

**Restricted Entry Queries**: not checked
**Restricted Entry Mutations**: not checked
**Restricted Asset Queries**:  not checked
**Restricted Asset Mutations**: not checked

In the FILEDS configuration are all to defalut (Query & Mutuate)

If

[2022-07-10 21:28] howells commented on #94
@jamesedmonston so sorry to chase but do you know when the Craft 4 version might be ready? This is the only plugin preventing migration one one site that desperately needs the multisite performance improvements of 4 😅

[2022-07-14 09:09] GMConsultant commented on #96
@jamesedmonston  can you help me?
or the plugin has been abandoned?

[2022-08-08 14:36] robinbeatty commented on #94
+1 for Craft 4 version. Any update on headway? Thanks

[2022-08-08 16:57] howells commented on #94
@brandonkelly is there any chance of rolling this functionality natively into Craft 4? :-)

[2022-08-09 14:24] brandonkelly commented on #94
@howells We’re looking into it, but probably more of a 5.0 thing, not 4.x. See craftcms/cms#8757 for a related discussion

[2022-08-09 14:34] robinbeatty commented on #94
@jamesedmonston How big a job do you reckon it is to get the plugin in shape for Craft 4? I've just got to this requirement for a project and hadn't actually realised it's not a native feature...

[2022-08-09 17:02] vitalijalbu opened #97 "is there a function for reset password?"
Would be great to add also lost password and reset password functions, if user is registered only with socials then it will send a link to create/reset empty password.

[2022-08-09 18:28] brandonkelly commented on #94
Just went ahead and ported the plugin to Craft 4 from a personal fork ([`brandonkelly:craft4`](https://github.com/brandonkelly/graphql-authentication/tree/craft4)).

It’s branched off of [`brandonkelly:develop`](https://github.com/brandonkelly/graphql-authentication/tree/develop) which is a few commits ahead of [`jamesedmonston:develop`](https://github.com/jamesedmonston/graphql-authentication/tre

[2022-08-17 12:54] magicspon commented on #97
https://graphql-authentication.jamesedmonston.co.uk/usage/authentication#forgotten-password

[2022-08-24 12:55] jamesedmonston commented on #97
@magicspon thanks!

[2022-08-24 12:55] #97 closed

[2022-08-24 12:55] jamesedmonston commented on #96
@GMConsultant see the docs: https://graphql-authentication.jamesedmonston.co.uk/extra/fyi#entry-and-asset-queries

[2022-08-24 12:55] #96 closed

[2022-08-24 12:58] jamesedmonston commented on #46
@bartroelands with the Craft team looking to integrate Graph authentication soon (likely Craft 5), I no longer think it'll be worth the investment of time integrating it into the plugin. I'd very happily review and merge a PR if it's something you'd like to see added.

Thanks!

[2022-08-24 12:58] #46 closed

[2022-08-31 15:19] Stalex89 commented on #94
Hello @brandonkelly, thank you for a temporary fix for the plugin, however I'm still running into the issue when trying to install the plugin.

When I'm using the code from your post above, it says the following:

![Screenshot 2022-08-31 at 17 11 00](https://user-images.githubusercontent.com/23526237/187714658-76e33db4-5113-44e4-b941-a7150ad435f5.png)

when I change from `  "jamesedmonston/graphql

[2022-08-31 15:27] Stalex89 commented on #94
@robinbeatty Hello, can you please show me your `composer.json` content? I'm getting this error:

![Screenshot 2022-08-31 at 17 25 43](https://user-images.githubusercontent.com/23526237/187717634-f6804fdc-7615-48f3-b925-48ddde3b3fb6.png)

[2022-08-31 15:32] robinbeatty commented on #94
Hey Alex
<img width="652" alt="Screenshot 2022-08-31 at 16 30 32" src="https://user-images.githubusercontent.com/48855073/187718375-84eeec81-a4e1-46b1-a82d-44c6ac490305.png">

Just spotted the latest merge of @brandonkelly's from @jamesedmonston so maybe this has changed?

[2022-08-31 17:51] brandonkelly commented on #94
Yeah the Craft 4 changes are now merged into `jamesedmonston:develop` so I’ve deleted my `craft4` branch. The custom `repositories` config should not be needed anymore, and the `jamesedmonston/graphql-authentication` constraint can be set to `dev-develop`.

[code]

[2022-08-31 17:52] robinbeatty commented on #94
Cheers for clarification :)

[2022-08-31 18:00] Stalex89 commented on #94
Works like charm now, thank you for clarification! 😀

[2022-09-05 18:45] jamesedmonston commented on #95
Hey @Parker-Bergen,

Currently the only way to access this is to look at the JWT payload (see the `groups` value):

[code]

[2022-09-05 18:46] #93 closed

[2022-09-05 18:57] #84 closed

[2022-09-05 19:12] jamesedmonston commented on #94
Hi everyone,

I'm currently working on fixing a few longstanding issues/feature requests and will be pushing out a release shortly (hopefully this evening).

Huge thanks to @brandonkelly for taking the time to make the Craft 4 updates. 💪

[2022-09-05 19:12] #94 closed

[2022-09-05 19:24] #90 closed

[2022-09-05 19:33] #72 closed

[2022-09-05 20:23] jamesedmonston commented on #83
@Fragilem17 hey, I've just pushed a commit for this. All requests using the JWT returned from the `register` mutation now throw a `Please activate your account` error, until the account has been activated.

[2022-09-05 22:27] jamesedmonston commented on #90
@rjgux released in 2.0!

[2022-09-05 22:28] jamesedmonston commented on #83
@Fragilem17 released in 2.0!

[2022-09-05 22:28] jamesedmonston commented on #72
@magicspon released in 2.0 (finally)!

[2022-09-05 22:30] jamesedmonston commented on #94
I've just released 2.0 which has @brandonkelly's updates included – thanks again @brandonkelly.

If anybody finds any issues please can they be created as new issues?

Thanks!

[2022-09-05 22:31] jamesedmonston commented on #84
@Fragilem17 released in 2.0!

[2022-09-07 13:36] cvitko opened #100 "Activated account when registered with social"
Is it possible to send email with email address verification when user normally registers,
but when user uses social account to register, account will be automatically activated without sending email address verification.
We know that e-mail address exists when user use social account.

Is this somehow possible? Thanks for help.

[2022-09-07 14:39] jamesedmonston commented on #100
@magicspon hey, sorry to ping you for this but this kind of relates to your issue (https://github.com/jamesedmonston/graphql-authentication/issues/72). Do you have any thoughts about the proposed change?

Would a toggle to enable/disable the activation email for social signups be okay?

Currently, _any_ new accounts follow Craft's activation process.

[2022-09-07 14:53] magicspon commented on #100
a toggle would be great.
i've got another project where the email verification for social logins would be best disabled, but enabled for regular email sign ups.

[2022-09-09 07:29] cvitko opened #101 "updateViewer mutation not working in 2.0"
Craft 4 + graphql-authentication 2.0

It runs without error. But user details are not updated.
I tried in my app and on https://graphiql-online.com. It is the same.

I am pretty sure it worked on craft 3 and previous version of plugin.

Other mutations and queries are working fine.

<img width="1326" alt="image" src="https://user-images.githubusercontent.com/4570510/189294864-0dbed36d-9128-40a3-8f

[2022-09-09 07:49] cvitko opened #102 "deleteAccount mutation not working"
Error message is: We couldn't log you in with the provided details
I am sure password is correct.

The flow was:
authenticate mutation -> copy jwt token into header -> test with viewer query = works fine -> deleteAccount mutation not working with the same password as authenticated.

<img width="1327" alt="image" src="https://user-images.githubusercontent.com/4570510/189298619-e0c8d10f-3367-44a3-94

[2022-09-10 13:58] jamesedmonston commented on #100
Working on this now. You'll see a new toggle on the social settings screen (defaults to `false`).

<img width="1792" alt="Screenshot 2022-09-10 at 14 57 46" src="https://user-images.githubusercontent.com/4851924/189486720-73710f62-673c-4488-bf77-4083184a12a6.png">

[2022-09-10 14:29] jamesedmonston commented on #102
Fixed in https://github.com/jamesedmonston/graphql-authentication/commit/0f695556f03656b0fd1fa6768f27d3f0e63c75dc

[2022-09-10 14:29] #102 closed

[2022-09-10 14:47] jamesedmonston commented on #101
@cvitko Craft 4 merged the first/last name fields into `fullName`. I'm updating the mutation to user that field instead.

[2022-09-11 15:24] #101 closed

[2022-09-11 15:31] jamesedmonston commented on #100
Released in `2.1.0`!

[2022-09-11 15:31] jamesedmonston commented on #101
Released in `2.1.0`!

[2022-09-11 15:31] jamesedmonston commented on #102
Released in `2.1.0`!

[2022-09-11 15:40] jamesedmonston commented on #91
@toddpadwick setting your [`allowedGraphqlOrigins`](https://craftcms.com/docs/3.x/config/config-settings.html#allowedgraphqlorigins) value in `general.php` to the your front-end URL should be all you need to do.

Another security tip would be to disable the introspection query in production using the [`enableGraphqlIntrospection`](https://craftcms.com/docs/3.x/config/config-settings.html#enablegra

[2022-09-11 15:40] #91 closed

[2022-09-11 20:21] jamesedmonston commented on #92
@Tam looks like this has to be added to your project's `composer.json` file. I tried adding it into the plugin's one, but it doesn't seem to work.

If you're running composer inside Docker, I'd recommend installing it through `brew` and running it globally – it's _so_ much faster on my machine.

[2022-09-11 20:21] #92 closed

[2022-09-11 20:33] jamesedmonston commented on #92
@Tam I'll add a note to the docs for this. It _does_ reduce the size by about 46MB...

It won't help the install time, though, as it cleans up _after_ install but _before_ autoloading.

[2022-09-13 15:24] magicspon opened #103 "Bug: signed mutations are throwing an error."
I'm having some issues with signed mutations requests.  I've not changed anything on my side, other than to upgrade to craft 4.

Using the latest version of all the things:

![image](https://user-images.githubusercontent.com/3268717/189951308-9ee3c55f-b06e-49ed-bef9-3a49237b7e71.png)

Unsigned (i.e. using the default gql headers)
![image](https://user-images.githubusercontent.com/3268717/189942692

[2022-09-14 15:10] cvitko commented on #103
Just a guess. Account param is typed as Array of Integers and you are passing just an Integer value.

[2022-09-14 15:19] magicspon commented on #103
I'll have a look.  That wouldn't explain why it works using the standard graphql token.

[2022-09-15 11:56] jamesedmonston commented on #103
@magicspon looks like this is an issue with the plugin stepping in and trying to validate mutations on custom elements (in this case, coming from a plugin) – I'll add in some additional checks to ensure it only validates first-party entries and assets.

[2022-09-15 13:28] jamesedmonston commented on #103
I totally misread your mutation – I thought it was a mutation coming from a plugin.

Okay, cool. I'll try and take a look this evening.

[2022-09-16 22:17] brimby opened #104 "Viewer query throws authorization error"
Here's what happens when I try to run the simple Viewer query
<img width="899" alt="Screen Shot 2022-09-16 at 6 11 20 PM" src="https://user-images.githubusercontent.com/20480908/190814273-0fea889b-1581-4651-b2fc-926309f46691.png">

All my other queries and mutations run fine from the same schema:
<img width="912" alt="Screen Shot 2022-09-16 at 6 11 40 PM" src="https://user-images.githubusercontent

[2022-09-19 09:02] jamesedmonston commented on #104
Have you followed the instructions [here](https://graphql-authentication.jamesedmonston.co.uk/usage/signing-requests)?

[2022-09-19 10:53] #103 closed

[2022-09-19 11:07] #100 closed

[2022-09-19 11:13] jamesedmonston commented on #103
@magicspon fixed in `2.1.2`

[2022-09-19 11:20] #104 closed

[2022-09-19 22:34] ericdrosas87 opened #105 "Using one Craft CMS instance as an identity provider for another?"
I'm part of the LSST/Rubin Observatory team that has already implemented this plugin into our main PR website, and I have been tasked with looking into if we can use that main PR website as an identity provider for another site.

**Use case:**
We have a separate Craft CMS (let's call it the Education CMS) we are standing up and we would like to authenticate into this new Craft instance via the mai

[2022-09-23 19:02] J-Protz opened #106 "updateViewer not working on entry field"
Hi! Been using this plugin for a long time and it works flawlessly for my other needs, however I am trying to save a list of entries to a user's account, and it seems to be failing but not erroring.

This is the authenticated query I send, it is written in JS using a grqphQL package where the second argument is the vars.

I also tried the same query, but simply updating the user's firstName. This

[2022-09-23 19:22] J-Protz commented on #106
Update, i forgot how to pass variables!
 This works

[code]

[2022-09-23 19:22] #106 closed

[2022-09-24 08:11] jamesedmonston commented on #106
@J-Protz glad you got it working! Happy to help with any other issues/questions.

[2022-09-27 16:16] ericdrosas87 commented on #105
Any updates on this?

[2022-09-30 13:28] magicspon opened #107 "[feature request]: password-less login"
Heyo,

I've nay idea if this is remotely possible.  But a magiclink/passwordless login provider would be fricking awesome.

Feel free to put a bag over this ticket and pull the trigger ;)

[2022-09-30 14:09] jamesedmonston commented on #107
Would you expect this to integrate with a 3rd party, or do you think a simple email with a link that contains a code which the plugin verifies would be secure enough?

Would you expect the `authenticate` mutation to trigger this, or to have a separate mutation (e.g. `authenticatePasswordless`)?

[2022-09-30 14:30] magicspon commented on #107
A first party solution would be ideal. Although i'm sure having the option to use a third party provider would be nice.

Regarding security... sorry I've no idea what the security implications of a email + code would be.  I would presume it would be okay, but I'm no authority on security.

I don't have a strong opinion either way. A separate mutation would work for me.

[2022-10-05 08:45] Zsavajji opened #108 "Public schema field restriction"
Hi!
I was looking to restrict some fields to an authenticated schema using the field restrictions, but it seems to be not working.
The exceptions never get thrown, and i have access to all fields even if marked private.

Is there something i am missing?

Thanks

[2022-10-05 09:46] jamesedmonston commented on #108
@Zsavajji I'll take a look

[2022-10-05 09:58] Zsavajji commented on #108
Thank you.
Adding on this, i'm able to restrict fields on my restricted schemas, but the public  schema restrictions does not take place.
If there's no authentication token craft returns the fields using the public schema, even if restrictions are applied.

[2022-10-05 15:51] Zsavajji commented on #108
Hi, i went up digging in the code, and found out that you were not checking for any changes on public schema restrictions made in the admin panel, resorting only on the JWT header check.
I added a more thorough check on the permissions of the public schema, which should fix these cases.

Let me know :)

[2022-10-07 06:39] cvitko opened #110 "Deleting account when logged in with social"
When logged in with social account, there is no password. So delete account mutation won't work.
Any idea how to handle this? Thanks for help.

[2022-10-13 00:25] bijayMade commented on #95
@jamesedmonston  Just wondering how were you able to add the users groups to the jwt, currently looking for a way to query the group a user belongs to so I can display their roles in a headless frontend

[2022-10-14 10:28] jubalj opened #111 "AWS cognitio support"
Hi James,

I'm using AWS cognitio with a Vuejs front-end is there a way I can use the retuned jwt with your plugin to authenticate with craft? There are unmaintained plugins that offer this functionality (https://plugins.craftcms.com/craft-cognito-auth) does this plugin offer similar functionality?

Sorry if I'm misunderstanding the purpose of the plugin!

Cheers
Jubal

[2022-10-17 16:28] milesjbland opened #112 "Craft 4: Can't automatically activate users"
Hey @jamesedmonston!

I noticed when upgrading to Craft 4 (4.2.7) and the latest version of this plugin (2.1.2), users are no longer automatically activated when created via the `register` mutation.

Our user settings currently look like this:

<img width="883" alt="Screenshot 2022-10-17 at 17 23 17" src="https://user-images.githubusercontent.com/12896561/196230947-2de3c66e-ecd2-45f1-b01a-e7317f93

[2022-10-25 17:28] Stalex89 commented on #112
Can confirm the issue, when creating user via the `register` mutation, the status of the new user is `inactive`, and I'm getting the `Error: Please activate your account before logging in` message until I will manually activate it in Craft.

Screenshots of my settings:

<img width="757" alt="Screenshot 2022-10-25 at 19 26 14" src="https://user-images.githubusercontent.com/23526237/197841761-6bee51

[2022-10-30 10:56] Stalex89 opened #113 "Ability to customise user registration mutation and validation of user fields"
Hello,

I have a specific scenario for a user registration process. In Craft I have an entry type which contains field with activation code.
On the frontend (not a twig template but decoupled frontend, so no twig solution applicable) I have a user register page with user registration form. In one of the fields in the form user should enter the activation code. Before the user is registered I need

[2022-11-12 03:32] brimby opened #115 "Deleting users isn't working"
When trying to delete a user I was getting the error `Cannot query field \"deleteAccount\" on type \"Mutation\".`

Since I was using your mutation code directly from the docs I figured there was perhaps a typo in the docs, so I searched "deleteAccount" in the codebase to see if I could find the syntax you used, but it turns out that "deleteAccount" is never mentioned in the codebase anywhere. So I

[2022-11-12 03:34] brimby commented on #115
I was using this mutation (even the hardcoded password because I was going to work it out in steps):
`mutation DeleteAccount {
  deleteAccount(
    password: "testing1234"
    confirmPassword: "testing1234"
  )
}`

[2022-11-12 04:08] brimby commented on #115
Oh I see now, you have it on Craft 4 but not 3. Any chance you're going to add it to 3 or is it just time I upgraded?

[2022-11-14 16:56] brimby commented on #115
I brought the deleteAccount code over into my Craft 3 project locally and it works. I'd send a pull request except I'm not sure if/how I can send a pull request for a v1 change rather than a v2 change. Sorry I'm not super good with github. If there is a way to submit a pull request for the Craft3 compatible branch/fork, let me know and I'll send it along.

If it's not possible, then I'm fine just

[2022-11-18 10:46] jamesedmonston commented on #115
@brimby I'm backporting some Craft 4 changes that we need internally for work on a Craft 3 site, so I can bring across this mutation. I'll try and get that done over the next week or so.

Thanks!

[2022-11-18 16:21] spAnser opened #116 "Feature Request: Authenticate with Cookie"
It would be great if a user is logged into craft with a craft cookie. Do not require email and password to authenticate.

[2022-11-26 14:23] robinbeatty opened #117 "Wrongly linked settings in nav bar"
Noticed the Settings breadcrumb link in the cp nav bar in `https://mycraftapp.com/admin/graphql-authentication/settings` is wrongly linked and points to `https://mycraftapp.com/settings`

[2022-11-28 10:17] jamesedmonston commented on #117
@robinbeatty is this on Craft 3 or 4?

[2022-11-28 12:23] robinbeatty commented on #117
Sorry yes craft 4@latest and latest version of plug-in. Sounds like just a missing / in uri